* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #212121;
}

body {
    
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    /* min-height: 100vh; */
    /* Ensures the body takes full viewport height */
    margin: 0;
}

.main {
    height: 80%;    
    width: 60%;
    background-color: rgb(250, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    /* gap: 1.2rem; */
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 4vw;
}

h3 {
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 3.8rem;
    padding: 0;
    font-size: 2.5vw;
}

p {
    margin-bottom: 3vh;
    font-size: 1.2vw;
}

button {
    height: 7vh;    
    width: 10vw;
    background-color: black;
    color: rgb(250, 32, 32);
    border: 1px solid black;
    border-radius: 5px;
}

input {
    width: 20vw;
    margin-bottom: 3vh;
    text-decoration: none;
    background: none;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}
